{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="content-panel">
    <div class="cntnt-sec">
        <div class="back-btn"> <a href="{% url 'enrollment:home' %}">{% trans 'Go Back' %}</a></div>
        <br>
        <div class="title-sec text-center">
            <h3>{% trans 'Current active student for section' %} {{ section.code }}</h3>
        </div>
    </div>
    <div class="cntnt-sec">
        {% if enrollments %}
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>{% trans 'No.' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'ID' %}</th>
                <th>{% trans 'Active' %}</th>
                <th>{% trans 'Letter Grade' %}</th>
                <th>{% trans 'Absences' %}</th>
                <th>{% trans 'Lates' %}</th>
                <th>{% trans 'Deduction' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for enrollment in enrollments %}
                <tr {% if not enrollment.active %}class="table-danger" {% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ enrollment.student.english_name|lower }}</td>
                    <td>{{ enrollment.student.university_id }}</td>
                    <td>{{ enrollment.active }}</td>
                    <td>{{ enrollment.get_letter_grade }}</td>
                    <td>{{ enrollment.get_enrollment_total_absence }}</td>
                    <td>{{ enrollment.get_enrollment_total_late }}</td>
                    <td>{{ enrollment.get_enrollment_total_deduction }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
                {% trans 'There are no results' %}
        {% endif %}
    </div>
</div>
{% endblock %}
