{% extends "base.html" %}
{% load i18n staticfiles %}
{% block content %}
    <div class="content-panel">
        <div class="cntnt-sec">
            <div class="back-btn">
                <a href="{% url 'enrollment:home' %}">{% trans 'Go Back' %}</a>
            </div>
        </div>
        <br>
        <div class="card card-outline-secondary mb-3">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <p>{% trans 'Semester: ' %}<span
                            style="color:red">{{ grade_fragment.course_offering.semester.description }}</span></p>
                    <p>{% trans 'Course: ' %}<span
                            style="color:red">{{ grade_fragment.course_offering.course }}</span></p>
                    <p>{% trans 'Grade Fragment Category: ' %}<span
                            style="color:red">{{ grade_fragment.category }}</span></p>
                    <p>{% trans 'Grade Fragment Description: ' %}<span
                            style="color:red">{{ grade_fragment.description }}</span></p>
                    <p>{% trans 'Grade Fragment Weight: ' %}<span
                            style="color:red">{{ grade_fragment.weight }}</span></p>
                    <p>{% trans 'Grade Fragment Type: ' %}<span
                            style="color:red">{{ grade_fragment.boundary_type }}</span></p>
                    {% if grade_fragment.boundary_type is 'SUBJECTIVE_BOUNDED' or  grade_fragment.boundary_type is 'SUBJECTIVE_BOUNDED_FIXED' %}
                        <p>{% trans 'Grade Fragment Boundary: ' %}<span
                                style="color:red">
                        {% if grade_fragment.boundary_type is 'SUBJECTIVE_BOUNDED' %}
                            {% trans 'Upper value: ' %}{{ grade_fragment.boundary_range_upper }}
                            <br>
                            {% trans 'Lower value: ' %}{{ grade_fragment.boundary_range_lower }}
                        {% elif grade_fragment.boundary_type is 'SUBJECTIVE_BOUNDED_FIXED' %}
                            {% trans 'Fixed average value: ' %}{{ grade_fragment.boundary_fixed_average }}
                        {% endif %}
                    </span></p>
                    {% endif %}
                    {% if grade_fragment.allow_change %}
                        <q style="color:red">
                            {% trans '*Note: You can not change a student grade after submitting it.' %}
                        </q>
                    {% endif %}
                </blockquote>
            </div>
        </div>
        <div class="cntnt-sec">
            {% if formset.forms %}
                <form method="post">
                    <div class="title-sec row">
                        <div class="col-md-9">
                            <h3>{% trans 'Available Grades' %}</h3>
                        </div>
                        <div class="col-md-3 text-right">
                            <input class="thm-btn small-btn" type="submit" value="{% trans 'Save' %}">
                        </div>
                    </div>
                    <div class="thm-table odd period-cntnt">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans 'No.' %}</th>
                                <th>{% trans 'Student ID' %}</th>
                                <th>{% trans 'Full Name' %}</th>
                                <th>{% trans 'Student Grade' %}</th>
                                {% if grade_fragment.entry_in_percentages %}
                                    <th>{% trans 'Actual Student Grade' %}</th>
                                {% endif %}
                                <th>{% trans 'Remark' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% csrf_token %}
                            {{ formset.management_form }}
                            {% for form in formset %}
                                {% for enrollment in enrollments %}
                                    {% ifequal enrollment.id|stringformat:"s" form.enrollment.value|stringformat:"s" %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ enrollment.student.university_id }}</td>
                                            <td>{{ enrollment.student.english_name }}</td>
                                            <td>{{ form.grade_quantity }}{{ form.grade_quantity.errors }}</td>
                                            {% if form.actual_grade %}
                                                <td>{{ form.actual_grade }}</td>
                                            {% endif %}
                                            <td>{{ form.remarks }}</td>
                                            {{ form.id }}
                                            {{ form.enrollment }}
                                            {{ form.grade_fragment_id }}
                                            {{ form.enrollment_id }}
                                            {{ form.grade_fragment }}
                                            {{ form.updated_on }}
                                        </tr>
                                    {% endifequal %}
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
                {% if section_average %}
                    <div> Section Average: {{ section_average }} / {{ grade_fragment.weight }}</div>
                {% endif %}
                {% if section_objective_average %}
                    <div> Section Objective Average: {{ section_objective_average }}</div>
                {% endif %}
                {% if course_average %}
                    <div> Coordinated Course Average: {{ course_average }} / {{ grade_fragment.weight }}</div>
                {% endif %}
            {% else %}
                {% trans 'There are no students' %}
            {% endif %}
        </div>
    </div>
{% endblock %}