{% extends "base.html" %}
{% load i18n staticfiles %}
{% block content %}
<div class="content-panel">
    <div class="cntnt-sec">
        <a href="{% url 'grade:section_grade' section_id=section.id %}">{% trans 'Go Back' %}</a>

        {% if formset.forms %}
        <form method="post">
            <div class="title-sec row">
                <div class="col-md-9">
                    <h3>{% trans 'Available Grades' %}</h3>
                </div>
                <div class="col-md-3 text-right">
                    <!--<div class="save-atten">
                        <a href="javascript:void(0);" class="thm-btn small-btn outline-btn-dgrey cancel-btn">{% trans 'Cancel' %}</a>&nbsp;&nbsp;
                        <input class="thm-btn small-btn" type="submit" value="{% trans 'Save' %}">
                    </div>-->
                    <input class="thm-btn small-btn" type="submit" value="{% trans 'Save' %}">
                    <!--<a href="javascript:void(0);" class="thm-btn small-btn edit-btn">{% trans 'Edit' %}</a>-->
                </div>
            </div>
            <div class="thm-table odd period-cntnt">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans 'Student ID' %}</th>
                        <th>{% trans 'Full Name' %}</th>
                        <th>{% trans 'Student Grade'%}</th>
                        {% if grade_fragment.entry_in_percentages %}
                        <th>{% trans 'Actual Student Grade' %}</th>
                        {% endif %}
                        <th>{% trans 'Remark' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                    {% for enrollment in enrollments %}
                    {% ifequal enrollment.id|stringformat:"s" form.enrollment.value|stringformat:"s" %}
                    <tr>
                        <td>{{ enrollment.student.university_id }}</td>
                        <td>{{ enrollment.student.english_name }}</td>
                        <td>{{ form.grade_quantity }}{{ form.grade_quantity.errors }}</td>
                        {% if form.actual_grade %}
                        <td>{{ form.actual_grade }}</td>
                        {% endif %}
                        <td>{{ form.remarks }}</td>
                        {{ form.id }}
                        {{ form.enrollment }}
                        {{ form.grade_fragment_id }}
                        {{ form.enrollment_id }}
                        {{ form.grade_fragment }}
                        {{ form.updated_on }}
                    </tr>
                    {% endifequal %}
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
        {% if section_average %}
        <div> Section Average: {{ section_average }} / {{ grade_fragment.weight }}</div>
        {% endif %}
        {% if section_objective_average %}
        <div> Section Objective Average: {{ section_objective_average }}</div>
        {% endif %}
        {% if course_average %}
        <div> Coordinated Course Average: {{ course_average }} / {{ grade_fragment.weight }}</div>
        {% endif %}
        {% else %}
        {% trans 'There are no students' %}
        {% endif %}
    </div>
</div>
{% endblock %}