{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="content-panel">
    <div class="cntnt-sec">
        <div class="title-sec text-center">
            <h3>{% trans 'Find your current coordinated courses' %}</h3>
        </div>
        <hr>
        {% if courses %}
        <table class="table table-condensed text-center">
            <thead>
            <tr>
                <th class="text-center">{% trans 'Semester Code' %}</th>
                <th class="text-center">{% trans 'Course Code' %}</th>
                <th class="text-center">{% trans 'Course Name' %}</th>
                <th class="text-center">{% trans 'Sections' %}</th>
                <th class="text-center">{% trans 'Grade Fragments' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.course_offering.semester.code }}</td>
                    <td {% if course.course_offering.coordinated %} style="color:red" {% endif %}>
                        {{ course.course_offering.course.code }}</td>
                    <td>{{ course.course_offering.course.name }}</td>
                    <td><a href="{% url 'enrollment:course_coordinator' course_offering_id=course.course_offering.id %}" class="thm-btn small-btn outline-btn-dgrey">{% trans 'View' %}</a></td>
                    <td><a href="{% url 'enrollment:grade_fragment_coordinator' course_offering_id=course.course_offering.id %}" class="thm-btn small-btn outline-btn-dgrey">{% trans 'View' %}</a></td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        {% else %}
                {% trans 'There are no results' %}
        {% endif %}

    </div>
</div>
{% endblock %}
