{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="content-panel">
        <div class="cntnt-sec">
            <div class="back-btn"> <a href="{% url 'enrollment:grade_fragment_coordinator' course_offering_id=course_offering.id %}">{% trans 'Go Back' %}</a></div>
            <div class="title-sec text-center">
                <h3>{% trans 'Create Grade Fragment' %}</h3>
            </div>
            <div class="card card-outline-secondary mb-3">
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <p>{% trans 'Semester: ' %}<span>{{ course_offering.semester.description }}</span></p>
                        <p>{% trans 'Course: ' %}<span>{{ course_offering.course }}</span></p>
                        <p>{% trans 'Coordinated: ' %}<span>{{ course_offering.coordinated }}</span>
                        </p>
                    </blockquote>
                </div>
            </div>
            <form method="post" class="form-horizontal">
                {% include 'enrollment/snippet/bootstrap_form.html' with form=form %}
                <input class="thm-btn small-btn" type="submit" value="{% trans 'Save' %}">
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('.datetimepicker3').datetimepicker({
                format: 'YYYY-MM-DD h:mm:ss'
            });
        });
    </script>
{% endblock %}