{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="content-panel">
        <div class="cntnt-sec">
            <div class="back-btn"> <a href="{{request.META.HTTP_REFERER}}">{% trans 'Go Back' %}</a></div>
            <div class="title-sec text-center">
                <h3>{% trans 'Delete Grade Fragment' %}</h3>
            </div>
            <div class="card card-outline-secondary mb-3">
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <p>{% trans 'Semester: ' %}<span
                                style="color:red">{{ gradefragment.course_offering.semester.description }}</span></p>
                        <p>{% trans 'Course: ' %}<span
                                style="color:red">{{ gradefragment.course_offering.course }}</span></p>
                        <p>{% trans 'Grade Fragment Category: ' %}<span
                                style="color:red">{{ gradefragment.category }}</span></p>
                        <p>{% trans 'Grade Fragment Description: ' %}<span
                                style="color:red">{{ gradefragment.description }}</span></p>
                        <p>{% trans 'Grade Fragment weight: ' %}<span
                                style="color:red">{{ gradefragment.weight }}</span></p>
                        <q style="color:red">
                            {% trans 'Please be away that any students grade assosiated to this grade fragment will be deleted as well' %}
                        </q>
                    </blockquote>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                <input class="thm-btn small-btn" type="submit" value="{% trans 'Delete' %}">
            </form>
        </div>
    </div>
{% endblock %}