{% extends "base.html" %}
{% load i18n %}
{% block content %}
	<div class="content-panel">
		<div class="cntnt-sec">
			<div class="back-btn"><a href="{% url 'enrollment:home' %}">{% trans 'Go Back' %}</a></div>
			<div class="title-sec text-center">
				<h3>{% trans 'Grade Fragments' %}</h3>
			</div>
			<div class="card card-outline-secondary mb-3">
				<div class="card-block">
					<blockquote class="card-blockquote">
						<p>{% trans 'Semester: ' %}<span
								style="color:red">{{ course_offering.semester.description }}</span></p>
						<p>{% trans 'Course: ' %}<span>{{ course_offering.course }}</span></p>
						<p>{% trans 'Coordinated: ' %}<span>{{ course_offering.coordinated }}</span>
						</p>
					</blockquote>
				</div>
			</div>
			<div class="title-sec row">
				<div class="col-md-12 text-right">
					<a class="thm-btn small-btn" href="{% url 'grade:letter_grades' course_offering_id=course_offering.id %}">
						<span class="glyphicon glyphicon-bold" aria-hidden="true"></span><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans 'Letter Grades' %}
					</a>
					{% if letter_grade_promotion_enabled %}
					<a href="{% url 'grade:letter_grades_promotion' course_offering_id=course_offering.id %}"
					   class="thm-btn small-btn outline-btn-dgrey float-right">
						<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> {% trans 'Letter Grades Promotion' %}
					</a>
					{% endif %}
					<a href="{% url 'enrollment:bulk_update' course_offering_id=course_offering.id %}"
					   class="thm-btn small-btn outline-btn-dgrey float-right">
						<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {% trans 'Bulk Update' %}
					</a>
					{% if can_create_fragment %}
						{% if fragments|length == 0 %}
							<a href="{% url 'enrollment:import_fragments' course_offering_id=course_offering.id %}"
							   title="{% trans 'Import fragments from last semester' %}"
							   class="thm-btn small-btn outline-btn-dgrey float-right" onclick="return confirm('{% trans "This will import fragments from last semester. Are you sure?" %}');">
								<span class="glyphicon glyphicon-share" aria-hidden="true"></span> {% trans 'Import Fragments' %}
							</a>
						{% endif %}
						<a href="{% url 'enrollment:create_grade_fragment_coordinator' course_offering_id=course_offering.id %}"
						   class="thm-btn small-btn outline-btn-dgrey float-right">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% trans 'Create Grade Fragment' %}
						</a>
					{% endif %}
				</div>
				<br><br>
			</div>
			<hr>

			{% if fragments %}
				<table class="table table-condensed text-center">
					<thead>
					<tr>
						<th class="text-center">{% trans 'No.' %}</th>
						<th class="text-center">{% trans 'Category' %}</th>
						<th class="text-center">{% trans 'Description' %}</th>
						<th class="text-center">{% trans 'Type' %}</th>
						<th class="text-center">{% trans 'Weight' %}</th>
						<th class="text-center">{% trans 'Edit' %}</th>
						<th class="text-center">{% trans 'Grades' %}</th>
					</tr>
					</thead>
					<tbody>
					{% for fragment in fragments %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ fragment.category }}</td>
							<td>{{ fragment.description }}</td>
							<td>{{ fragment.get_boundary_type_display }}</td>
							<td>{{ fragment.weight }}</td>
							<td>
								<a href="{% url 'enrollment:update_grade_fragment_coordinator' course_offering_id=fragment.course_offering.id pk=fragment.id %}"
								   class="thm-btn small-btn outline-btn-dgrey">
									{% if can_create_fragment %}
										{% trans 'Edit/Delete' %}
									{% else %}
										{% trans 'Edit' %}
									{% endif %}
								</a></td>
							<td style="width: 15%">
								{% if fragment.allow_subjective_marking %}
									<div class="btn-group btn-group-justified">
										<button type="button" class="thm-btn small-btn btn-block outline-btn-dgrey dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											{% trans 'Actions' %} <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li>
												<a href="{% url 'enrollment:import_grade' course_offering_id=fragment.course_offering.id grade_fragment_id=fragment.id %}">{% trans 'Import grades' %}</a>
											</li>
											<li role="separator" class="divider"></li>
											<li>
												<a href="{% url 'exam:markers' fragment.id %}">{% trans 'Subjective Marking' %}</a>
											</li>
											<li>
												<a href="{% url 'exam:settings' fragment.id %}">{% trans 'Subjective Marking (RESTART Process!)' %}</a>
											</li>
											<li>
												<a href="{% url 'exam:coordinator_markers_listing' fragment.id %}">{% trans 'Edit Marks' %}</a>
											</li>

										</ul>
									</div>
								{% else %}
									<a class="thm-btn small-btn btn-block outline-btn-dgrey dropdown-toggle" href="{% url 'enrollment:import_grade' course_offering_id=fragment.course_offering.id grade_fragment_id=fragment.id %}">{% trans 'Import grades' %}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
						<tr class="success">
							<td colspan="4" style="text-align: right; font-weight: bold; font-size: 120%">{% trans 'Total Weight' %}: </td>
							<td>{{ fragments_total_weight }}</td>
							<td colspan="2"></td>
						</tr>
					</tbody>
				</table>
			{% else %}
				{% trans 'There are no fragments yet' %}
			{% endif %}

		</div>
	</div>
{% endblock %}
