{% extends "base.html" %}
{% load i18n %}
{% block content %}
	<div class="content-panel">
		<div class="cntnt-sec">
			<div class="back-btn"><a href="{% url 'enrollment:home' %}">{% trans 'Go Back' %}</a></div>
			<div class="title-sec text-center">
				<h3>{% trans 'Grade Fragments' %}</h3>
			</div>
			<div class="card card-outline-secondary mb-3">
				<div class="card-block">
					<blockquote class="card-blockquote">
						<p>{% trans 'Semester: ' %}<span
								style="color:red">{{ course_offering.semester.description }}</span></p>
						<p>{% trans 'Course: ' %}<span>{{ course_offering.course }}</span></p>
						<p>{% trans 'Coordinated: ' %}<span>{{ course_offering.coordinated }}</span>
						</p>
					</blockquote>
				</div>
			</div>
			<hr>
			{% if can_create_fragment %}
				<div class="lft-head"></div>
				<div class="rgt-head">
					<a href="{% url 'enrollment:create_grade_fragment_coordinator' course_offering_id=course_offering.id %}"
					   class="thm-btn small-btn outline-btn-dgrey float-right">{% trans 'Create Grade Fragment' %}</a>
				</div>
				<br>
				<br>
			{% endif %}
			{% if fragments %}
				<table class="table table-condensed text-center">
					<thead>
					<tr>
						<th class="text-center">{% trans 'No.' %}</th>
						<th class="text-center">{% trans 'Category' %}</th>
						<th class="text-center">{% trans 'Description' %}</th>
						<th class="text-center">{% trans 'Type' %}</th>
						<th class="text-center">{% trans 'Weight' %}</th>
						<th class="text-center">{% trans 'Edit' %}</th>
						<th class="text-center">{% trans 'Grades' %}</th>
					</tr>
					</thead>
					<tbody>
					{% for fragment in fragments %}
						<tr>
							<td>{{ fragment.order }}</td>
							<td>{{ fragment.category }}</td>
							<td>{{ fragment.description }}</td>
							<td>{{ fragment.get_boundary_type_display }}</td>
							<td>{{ fragment.weight }}</td>
							<td>
								<a href="{% url 'enrollment:update_grade_fragment_coordinator' course_offering_id=fragment.course_offering.id pk=fragment.id %}"
								   class="thm-btn small-btn outline-btn-dgrey">
									{% if can_create_fragment %}
										{% trans 'Edit/Delete' %}
									{% else %}
										{% trans 'Edit' %}
									{% endif %}
								</a></td>
							<td>
								{% if fragment.allow_subjective_marking %}
									<div class="btn-group">
										<button type="button" class="thm-btn small-btn outline-btn-dgrey dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											{% trans 'Actions' %} <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li>
												<a href="{% url 'enrollment:import_grade' course_offering_id=fragment.course_offering.id grade_fragment_id=fragment.id %}">{% trans 'Import grades' %}</a>
											</li>
											<li role="separator" class="divider"></li>
											<li>
												<a href="{% url 'exam:markers' fragment.id %}">{% trans 'Subjective Marking' %}</a>
											</li>
											<li>
												<a href="{% url 'exam:settings' fragment.id %}">{% trans 'Subjective Marking (RESTART Process!)' %}</a>
											</li>
											<li>
												<a href="{% url 'exam:coordinator_markers_listing' fragment.id %}">{% trans 'Edit Marks' %}</a>
											</li>

										</ul>
									</div>
								{% else %}
									<a class="thm-btn small-btn outline-btn-dgrey dropdown-toggle" href="{% url 'enrollment:import_grade' course_offering_id=fragment.course_offering.id grade_fragment_id=fragment.id %}">{% trans 'Import grades' %}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
				{% trans 'There are no results' %}
			{% endif %}

		</div>
	</div>
{% endblock %}
