{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="content-panel">
        <div class="cntnt-sec">
            <div class="back-btn"> <a href="{% url 'enrollment:home' %}">{% trans 'Go Back' %}</a></div>
            <div class="title-sec text-center">
                <h3>{% trans 'Import Grades' %}</h3>
            </div>
            <div class="card card-outline-secondary mb-3">
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <p>{% trans 'Semester: ' %}<span style="color:red">{{ gradefragment.course_offering.semester.description }}</span></p>
                        <p>{% trans 'Course: ' %}<span style="color:red">{{ gradefragment.course_offering.course }}</span></p>
                        <p>{% trans 'Grade Fragment: ' %}<span style="color:red">{{ gradefragment.description }}</span></p>
                        <p style="color:red">{% trans '*Please note that there is no checking for subjective grade fragments' %}</p>
                    </blockquote>
                </div>
            </div>
            <form method="post">
                {% include 'enrollment/snippet/bootstrap_form.html' with form=form %}

                <input class="thm-btn small-btn" type="submit" value="{% trans 'Save' %}">
            </form>

            {% if errors %}
                <h3>{% trans 'Errors Report' %}</h3>
                <table class="table table-condensed text-center">
                    <thead>
                    <tr>
                        <th class="text-center">{% trans 'No.' %}</th>
                        <th class="text-center">{% trans 'Line' %}</th>
                        <th class="text-center">{% trans 'Student ID' %}</th>
                        <th class="text-center">{% trans 'Old Grade' %}</th>
                        <th class="text-center">{% trans 'New Grade' %}</th>
                        <th class="text-center">{% trans 'Status' %}</th>
                        <th class="text-center">{% trans 'code' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in errors %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.line }}</td>
                            <td>{{ item.id }}</td>
                            <td>{{ item.old_grade }}</td>
                            <td>{{ item.new_grade }}</td>
                            <td>{{ item.status }}</td>
                            <td>{{ item.code }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if list %}
                <h3>{% trans 'Grades Report' %}</h3>
                <table class="table table-condensed text-center">
                    <thead>
                    <tr>
                        <th class="text-center">{% trans 'No.' %}</th>
                        <th class="text-center">{% trans 'Student ID' %}</th>
                        <th class="text-center">{% trans 'Old Grade' %}</th>
                        <th class="text-center">{% trans 'New Grade' %}</th>
                        <th class="text-center">{% trans 'Remark' %}</th>
                        <th class="text-center">{% trans 'Status' %}</th>
                        <th class="text-center">{% trans 'code' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.id }}</td>
                            <td>{{ item.old_grade }}</td>
                            <td>{{ item.new_grade }}</td>
                            <td>{{ item.remark }}</td>
                            <td>{{ item.status }}</td>
                            <td>{{ item.code }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
