{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="content-panel">
        <div class="cntnt-sec">
            <div class="title-sec text-center">
                <h3>{% trans 'Find your current enrolled sections' %}</h3>
            </div>
            <br>
            <form method="post">
                {% include 'enrollment/snippet/bootstrap_form.html' with form=form %}
                <input class="thm-btn small-btn" type="submit" value="{% trans 'Save' %}">
            </form>
        </div>
    </div>
{% endblock %}