{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="content-panel">
    <div class="cntnt-sec">
        <a href="{{request.META.HTTP_REFERER}}">Go back</a>
        <h3>{% trans 'Welcome' %}</h3>
        <br>
        {% for period in periods %}
            {{period}}
        <br>
        {% endfor %}
        {% if formset.forms %}
            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {{form}}
                    <br>
                {% endfor %}
                <input class="btn btn-default" type="submit" value="submit">
            </form>
        {% else %}
            {% trans 'There are no students' %}
        {% endif %}
    </div>
</div>
{% endblock %}