{% extends "base.html" %}
{% load i18n staticfiles %}
{% block content %}
	<div class="content-panel">
		<div class="cntnt-sec">
			<h3>{% trans 'Excuse Details' %}</h3>
			<hr>
			<label>{% trans 'Excuse' %} #</label>:&nbsp;{{ object.pk }}<br>
			{{ form.start_date.label_tag }}:&nbsp;{{ object.start_date }}<br>
			{{ form.end_date.label_tag }}:&nbsp;{{ object.end_date }}<br>
			{{ form.university_id.label_tag }}:&nbsp;{{ object.university_id }}<br>
			<label>{% trans 'Student Name' %}</label>:&nbsp;{{ student.english_name }}<br>
			{{ form.excuse_type.label_tag }}:&nbsp;{{ object.get_excuse_type_display }}<br>
			{{ form.includes_exams.label_tag }}:&nbsp;{{ object.includes_exams }}<br>
			{% if object.attachments %}
				{{ form.attachments.label_tag }}:&nbsp;<a target="_blank" href="{{ object.attachments.url }}">{% trans 'Download File' %}</a><br>
			{% endif %}
			{% if object.description %}{{ form.description.label_tag }}:&nbsp;{{ object.description }}<br>{% endif %}
			<label>{% trans 'Created On' %}:</label>&nbsp;{{ object.created_on }}<br>
			<label>{% trans 'Created By' %}:</label>&nbsp;{{ object.created_by }}<br>
			{% if object.applied_on %}<label>{% trans 'Applied On' %}:</label>&nbsp;{{ object.applied_on }}<br>{% endif %}
			{% if object.applied_by %}<label>{% trans 'Applied By' %}:</label>&nbsp;{{ object.applied_by }}<br>{% endif %}
			<hr>
			{% if attendances_to_be_excused %}
				<table class="table">
					<thead>
					<tr>
						<th>{% trans 'Semester' %}</th>
						<th>{% trans 'Course' %}</th>
						<th>{% trans 'Section' %}</th>
						<th>{% trans 'Date' %}</th>
						<th>{% trans 'Instructor' %}</th>
						<th>{% trans 'Period' %}</th>
						<th>{% trans 'Day' %}</th>
						<th>{% trans 'Time' %}</th>
						<th>{% trans 'Status' %}</th>
					</tr>
					</thead>
					<tbody>
					{% for attendance in attendances_to_be_excused %}
						<tr>
							<td>{{ attendance.enrollment.section.course_offering.semester.code }}</td>
							<td>{{ attendance.enrollment.section.course_offering.course.code }}</td>
							<td>{{ attendance.enrollment.section.code }}</td>
							<td>{{ attendance.attendance_instance.date }}</td>
							<td>{{ attendance.attendance_instance.period.instructor_assigned }}</td>
							<td>{{ attendance.attendance_instance.period.title }}</td>
							<td>{{ attendance.attendance_instance.period.day }}</td>
							<td>
								{{ attendance.attendance_instance.period.start_time }}&nbsp;-&nbsp;{{ attendance.attendance_instance.period.end_time }}
							</td>
							<td class="{% if attendance.status == 'abs' %}danger{% else %}warning{% endif %}">
								{{ attendance.get_status_display }}
							</td>
						</tr>
					{% endfor %}
					</tbody>

				</table>
			{% endif %}
			<br>
			{% if not object.applied_on %}
			<form method="post">
				{% csrf_token %}
				<center>
					<button onclick="return confirm('{% trans 'Are you sure?' %}');" class="btn btn-danger btn-lg"
					        name="reject" type="submit">{% trans 'Reject' %}</button>
					<button onclick="return confirm('{% trans 'Are you sure?' %}');" class="btn btn-success btn-lg"
					        name="confirm" type="submit">{% trans 'Confirm' %}</button>
				</center>
			</form>
			{% endif %}
		</div>
	</div>
{% endblock %}
