{% load static i18n %}
<!DOCTYPE html>
{% if LANGUAGE_CODE == 'ar' %}
    <html lang="en" dir="rtl">
{% else %}
    <html lang="en" dir="ltr">
{% endif %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mohamed Faraj">
    <title>{% trans 'Darajati - King Fahd University of Petroleum and Minerals' %}</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <!-- Main CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!-- Bootstrap-3 -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetime-picker.min.css' %}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/fixedheader/3.1.3/css/fixedHeader.dataTables.min.css" rel="stylesheet">

    <!-- Js Files -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/transition.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/collapse.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.3/js/dataTables.fixedHeader.min.js"></script>

    <!-- Custom Files -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</head>
{% if LANGUAGE_CODE == 'ar' %}
    <body class="arabic">
{% else %}
    <body>
{% endif %}
<div class="preloader">
    <div class="loading"><img src="{% static 'images/kfupm-loading.gif' %}"/><h6>{% trans 'Loading...' %}</h6></div>
</div>
<!--Header-->
<div class="header text-center">
    <div class="max-container">
        <div class="lft-head">
            <a href="{% url 'enrollment:home' %}">
                <div class="kfupm-logo"><img src="{% static 'images/logo.png' %}"/></div>
                <div class="dept-logo"><h1>{% trans 'Darajati' %}</h1></div>
            </a>
        </div>
        <div class="rgt-head">
            <!-- Split button -->
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
                            style="background-color: #237d40;border-color: white;">
                        {% trans 'Welcome! ' %}{{ request.user.username }}
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% if user.is_superuser %}
                            <li><a href="{% url 'enrollment:controls' %}">{% trans 'Admin Controls' %}</a></li>
                        {% endif %}
                        {% if coordinator %}
                            <li><a href="{% url 'enrollment:coordinator' %}">{% trans 'Coordinated courses' %}</a></li>
                            <li><a href="{% url 'enrollment:instructor' %}">{% trans 'Instructed section' %}</a></li>
                        {% endif %}
                        <li role="presentation" class="divider"></li>
                        <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                    </ul>
                </div>
            </div>
            {% if LANGUAGE_CODE == 'ar' %}
                <a href="/en{{ request.get_full_path|slice:'3:' }}" class="lang en en-font">English</a>
            {% endif %}
            {% if LANGUAGE_CODE == 'en' %}
                <a href="/ar{{ request.get_full_path|slice:'3:' }}" class="lang ar ar-font">عربى</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="main-cntnt text-center">
    <div class="max-container fit-window">
        {% if messages %}
            <div class="mess-sec">
                <ul class="messages">
                    {% for message in messages %}
                        <li
                                {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% for error in formset.non_form_errors %}
            <div class="mess-sec">
                <ul class="messages error-mess">
                    <li>{{ error }}</li>
                </ul>
            </div>
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="mess-sec">
                <ul class="messages error-mess">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}


        {% block content %}
        {% endblock %}
    </div>
</div>

<div class="footer text-center">
    <div class="max-container">
        <div class="ft-left">{% now "Y" %}{% trans ' © All rights reserved' %}</div>
        <div class="ft-right">{% trans 'King Fahd University of Petroleum & Minerals' %}</div>
    </div>
</div>


{% block scripts %}
{% endblock %}
</body>
</html>