{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="content-panel">
    <div class="cntnt-sec">
        <h3>{% trans 'Welcome, find your current enrolled sections' %}</h3>
        <br>
        {% if sections %}
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>{% trans 'Semester Code' %}</th>
                <th>{% trans 'Course Code' %}</th>
                <th>{% trans 'Course Name' %}</th>
                <th>{% trans 'Section Code' %}</th>
                <th>{% trans 'Attendances' %}</th>
                <th>{% trans 'Students' %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for section in sections %}
                <tr>
                    <td>{{ section.semester.code }}</td>
                    <td>{{ section.course.code }}</td>
                    <td>{{ section.course.name }}</td>
                    <td>{{ section.code }}</td>
                    <td><a href="{% url 'attendance:section_attendance' section_id=section.id %}" class="thm-btn small-btn outline-btn-dgrey">{% trans 'View/Edit' %}</a></td>
                    <td><a href="{% url 'enrollment:section_students' section_id=section.id %}" class="thm-btn small-btn outline-btn-dgrey">{% trans 'View' %}</a></td>
                    <td></td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        {% else %}
                {% trans 'There are no results' %}
        {% endif %}

    </div>
</div>
{% endblock %}
