{% extends "base.html" %}
{% load i18n %}
{% block content %}
	<div class="content-panel">
		<div class="cntnt-sec">
			<div class="back-btn"><a href="{% url 'enrollment:home' %}">{% trans 'Go Back' %}</a></div>
			<div class="title-sec text-center">
				<h3>{% trans 'Find your current enrolled sections' %}</h3>
			</div>
			<hr>
			{% if sections %}
				<table class="table table-condensed text-center">
					<thead>
					<tr>
						<th class="text-center">{% trans 'Semester Code' %}</th>
						<th class="text-center">{% trans 'Course Code' %}</th>
						<th class="text-center">{% trans 'Course Name' %}</th>
						<th class="text-center">{% trans 'Section Code' %}</th>
						<th class="text-center">{% trans 'Attendances' %}</th>
						<th class="text-center">{% trans 'Grades' %}</th>
						<th class="text-center">{% trans 'Students' %}</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					{% for section in sections %}
						<tr>
							<td>{{ section.course_offering.semester.code }}</td>
							<td {% if section.course_offering.coordinated %} style="color:red" {% endif %}>
								{{ section.course_offering.course.code }}</td>
							<td>{{ section.course_offering.course.name }}</td>
							<td>{{ section.code }}</td>
							<td><a href="{% url 'attendance:section_attendance' section_id=section.id %}"
							       class="thm-btn small-btn outline-btn-dgrey">{% trans 'View/Edit' %}</a></td>
							<td><a href="{% url 'grade:section_grade' section_id=section.id %}"
							       class="thm-btn small-btn outline-btn-dgrey">{% trans 'View/Edit' %}</a></td>
							<td><a href="{% url 'enrollment:section_students' section_id=section.id %}"
							       class="thm-btn small-btn outline-btn-dgrey">{% trans 'View' %}</a></td>
							<td></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
				{% trans 'There are no results' %}
			{% endif %}

			{# REMOVE THIS ASAP #}
			{% now "Y" as current_year %}
			{% now "m" as current_month %}
			{% now "d" as current_day %}
			{% if current_year == "2018"  and current_month == "11" and current_day < "20" %}
				<center>
					<a class="btn btn-success btn-lg"
					   href="https://osis.kfupm.edu.sa/SubjectiveMarking.aspx"
					   target="_blank">
						<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
						SUBJECTIVE MARKING
						<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
					</a>
				</center>
			{% endif %}
			{# ENDIF REMOVE #}

		</div>
	</div>
{% endblock %}
