{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="content-panel">
        <div class="cntnt-sec">
            <div class="title-sec text-center">
                <h3>{% trans 'Find your current enrolled sections' %}</h3>
            </div>
            <hr>
            {% if sections %}
                <table class="table table-condensed text-center">
                    <thead>
                    <tr>
                        <th class="text-center">{% trans 'Section Code' %}</th>
                        <th class="text-center">{% trans 'Attendances' %}</th>
                        <th class="text-center">{% trans 'Grades' %}</th>
                        <th class="text-center">{% trans 'Students' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for section in sections %}
                        <tr>
                            <td>{{ section.sec_code }}</td>
                            <td><a href="{% url 'attendance:section_attendance' crn=section.crn %}">attendance</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% trans 'There are no results' %}
            {% endif %}

        </div>
    </div>
{% endblock %}
