{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="content-panel">
    <div class="cntnt-sec">
        <a href="{% url 'enrollment:home' %}">{% trans 'Go Back' %}</a>
        <h3>{% trans 'Welcome' %}</h3>
        <br>
        {% if enrollments %}
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'ID' %}</th>
                <th>{% trans 'Active' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for enrollment in enrollments %}
                <tr>
                    <td>{{ enrollment.student.english_name }}</td>
                    <td>{{ enrollment.student.university_id }}</td>
                    <td>{{ enrollment.student.active }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
                {% trans 'There are no results' %}
        {% endif %}
    </div>
</div>
{% endblock %}
