.avail-attend-days{
	display: inline-block;
    margin: 10px 0 -2px 0;
    width: 100%;

    .days {
	    background-color: transparent;
	    border: 1px solid #333333;
	    border-radius: 4px 4px 0 0;
	    color: #333333;
	    float: left;
	    font-size: 14px;
	    line-height: 16px;
	    margin: 0;
	    padding: 10px 20px;
	}
	.days:hover {
		background-color: #333333;
		color: #ffffff;
	}
	.days.active-period{
		background-color: #333333;
		color: #fff;
	}
}

.thm-table{
	border: 1px solid #e7e7e7;
	border-top: 2px solid #333;
    width: 100%;

	table{
		border: none !important;
		width: 100%;
	
		thead th{
			background-color: #f0f0f0;
		    border-bottom: 2px solid #eaeaea;
		    color: #333;
		    font-size: 14px;
		    padding: 8px 15px;
		}
	}
}

.thm-table.odd{
	.table tbody tr:nth-child(2n+1) td {
	    background-color: #f7f7f7;
	}
}

.edit-btn{
	margin: 25px 0 0 0;
}
.save-atten{
	display: none;
	margin: 25px 0 0 0;
}
.info{
	
	.info-icon{
		cursor: pointer;
	    margin: 10px 0;
	    vertical-align: middle;
	    width: 18px;
	}
	.info-cntnt{
		background-color: rgba(0, 0, 0, 0.85);
	    border: 1px solid #171717;
	    border-radius: 4px;
	    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	    color: #ededed;
	    display: none;
	    font-size: 12px;
	    line-height: 20px;
	    margin-right: 50px;
	    padding: 10px;
	    position: absolute;
	    right: 0;
	    text-align: left;
	    top: -50%;
	    width: 140px;
	    z-index: 999;

	    span{
	    	display: block;
	    }
	    input{
	    	border: none;
	    	background-color: transparent;
	    	color: #fff;
	    	width: auto;
	    }
	}
}

.period-cntnt{

	td{
		font-size: 13px;
		line-height: 18px;
		vertical-align: middle;
	}
	
	.form-control{
		font-size: 13px;
		line-height: 18px;
	}
}