{% extends "base.html" %}
{% load i18n staticfiles %}
{% load humanize %}

{% block content %}
	<div class="content-panel">
		<br>
		{% include 'exam/snippets/course_offering_details.html' %}
		<div class="cntnt-sec">
			<h4>{% trans 'Overall Average' %}: <span class="badge success">{{ overall_average }} %</span></h4>
			<form method="post">
				{% csrf_token %}
				<div class="title-sec row">
					<div class="col-md-12 text-right">
						<button class="thm-btn small-btn" name="export" type="submit">
							<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {% trans 'Export All Scores To CSV' %}
						</button>
						<a class="thm-btn small-btn" href="{% url 'exam:unaccepted_markers' grade_fragment.pk %}">
							<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> {% trans 'Unaccepted Marks' %}
						</a>
					</div>
					<br><br>
				</div>
			</form>

			<div class="title-sec text-center">
				<h3>{% trans 'All Markers' %}</h3>
			</div>
			{% if object_list %}
				<table class="table table-condensed text-center">
					<tbody>
					{% for marker in object_list %}
						{% ifchanged marker.exam_room %}
							<tr>
								<td colspan="100" style="font-weight: bold">{{ marker.exam_room }} -
									{{ marker.exam_room.students.all|length }}
									{% trans 'Student' %}{{ marker.exam_room.students.all|length|pluralize }}
								</td>
							</tr>
							<tr>
							<td class="success" style="width: {{ cell_width }}%">
								<a href="{% url 'exam:marks' marker.pk %}" class="btn btn-block {% if marker.is_average_too_high_or_low == 'TOO-HIGH' %}btn-danger{% elif marker.is_average_too_high_or_low == 'TOO-LOW' %}btn-warning{% else %}btn-default{% endif %}"><b>{{ marker.order|ordinal }}</b>
									{{ marker.instructor }}{% if marker.marks_average %}
										<small>({% trans 'AVG' %}: {{ marker.marks_average }})</small>{% endif %}
									<span class="glyphicon glyphicon-pencil"></span></a></td>
						{% else %}
							<td class="success" style="width: {{ cell_width }}%">
								<a href="{% url 'exam:marks' marker.pk %}" class="btn btn-block {% if marker.is_average_too_high_or_low == 'TOO-HIGH' %}btn-danger{% elif marker.is_average_too_high_or_low == 'TOO-LOW' %}btn-warning{% else %}btn-default{% endif %}"><b>{{ marker.order|ordinal }}</b>
									{{ marker.instructor }}{% if marker.marks_average %}
										<small>({% trans 'AVG' %}: {{ marker.marks_average }})</small>{% endif %}
									<span class="glyphicon glyphicon-pencil"></span></a></td>
						{% endifchanged %}
					{% endfor %}
					</tbody>
				</table>
			{% else %}
				<h4>{% trans 'No Markers yet' %} !!</h4>
			{% endif %}
		</div>
	</div>
{% endblock %}