{% extends "base.html" %}
{% load i18n staticfiles %}
{% block content %}
    <div class="content-panel">
        <div class="cntnt-sec">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Edit Examiners' %}</div>
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field.help_text }} {{ field }}
                            </div>
                            <br>
                            <br>
                        {% endfor %}
                        <button class="thm-field" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}