{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}
	<div class="content-panel">
		<br>
		{% include 'exam/snippets/course_offering_details.html' %}
		{% if formset|length < total_number_of_students %}
		<div class="alert alert-warning alert-dismissable">
			{% trans 'The previous marker' %} <b>{{ previous_marker }}</b> {% trans "didn't enter marks for all present students." %}
			{% trans 'He only eneterend' %} {{ formset|length }} {% trans 'out of' %} {{ total_number_of_students }}...
		</div>
		{% endif %}
		<h5>{% trans 'Section Average:' %} <b class="section_average">{{ section_average }}</b>%</h5>
		<div class="cntnt-sec">
			{% if formset.forms %}
				<form method="post">
					<div class="title-sec row">
						<div class="col-md-9">
							<h3>{% trans 'Student Marks' %}</h3>
						</div>
						<div class="col-md-3 text-right">
							<input class="thm-btn small-btn" type="submit" name="save" value="{% trans 'Submit' %}">
						</div>
					</div>
					<div class="thm-table odd period-cntnt">
						<table class="table">
							<thead>
							<tr>
								<th>#</th>
								<th>{% trans 'Student Name' %}</th>
								<th>{% trans 'Student ID' %}</th>
								<th>{% trans 'Present' %}</th>
								<th>{% trans 'Mark' %}</th>
								<th>{% trans 'Updated On' %}</th>
								<th>{% trans 'Updated By' %}</th>
							</tr>
							</thead>
							<tbody>
							{% csrf_token %}
							{{ formset.management_form }}
							{% for form in formset %}
								<tr>
									<td>
										<div class="row">
											<div class="col-md-12">
												{{ form.non_field_errors }}
												{{ forloop.counter }}
											</div>
										</div>
									</td>
									<td>{{ form.instance.student_placement.enrollment.student.english_name }}</td>
									<td>{{ form.id }}
										{{ form.instance.student_placement.enrollment.student.university_id }}
										<div style="display: none">
										{{ form.marker }}{{ form.marker.errors }}
										{{ form.student_placement }}{{ form.student_placement }}
										</div>
									</td>
									<td>
									{% if should_take_attendance %}
										{{ form.is_present }}
									{% else %}
										<span class="badge {{ form.instance.student_placement.is_present|yesno:"success,error,warning" }}">
											{{ form.instance.student_placement.is_present|yesno:"Present,Absent,Not Entered" }}
										</span>
									{% endif %}
									</td>
									<td>{{ form.mark }}{{ form.mark.errors }}</td>
									<td>{% if form.instance.updated_by %}{{ form.instance.updated_on|timesince }}{% endif %}</td>
									<td>{% if form.instance.updated_by %}{{ form.instance.updated_by }}{% endif %}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</form>
			{% else %}
				{% trans 'There are no marks' %}
			{% endif %}
		</div>
	</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.grade_quantity').on('keyup paste change', calculate_average);
        });

        function calculate_average() {
            var total = 0;
            $('.grade_quantity').each(function (index) {
                var float_value = parseFloat($(this).val()) | 0;
                total += float_value;
            });
            total = total / $('.grade_quantity').length;
            $('.section_average').html(total.toFixed(2));
        }
    </script>
{% endblock %}
