{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="content-panel">
    <div class="cntnt-sec">
    <h3>{% trans 'Welcome' %}</h3>
        <br>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>{% trans 'Semester Code' %}</th>
                <th>{% trans 'Course Code' %}</th>
                <th>{% trans 'Course Name' %}</th>
                <th>{% trans 'Section Code' %}</th>
                <th>{% trans 'Class Times' %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ period.section.semester.code }}</td>
                <td>{{ period.section.course.code }}</td>
                <td>{{ period.section.course.name }}</td>
                <td>{{ period.section.code }}</td>
                <td>{{ period.day }} - {{ period.start_time }} - {{ period.end_time }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}